<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @menu.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @menu.title %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @menu.restaurant.name %>
</p>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_menu_path(@menu) %> |
<% end %>
<%= link_to 'Back', menus_path %>
