<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :menu_id %><br>
   <%=  f.select( :menu_id, Menu.where("DATE(date) = ?", Date.today).map {|a| [a.title, a.id]}, {prompt: "Choose one"})  %>
  </div>

   <div class="field">
    <%= f.label :dish1_id %><br>
    <%= f.select :dish1_id, options_from_collection_for_select(Dish.all, :id, :dish_title),
     {prompt: "Choose one"}%>
  </div>

  <div class="field">
    <%= f.label :dish2_id %><br>
     <%= f.select :dish2_id, options_from_collection_for_select(Dish.all, :id, :dish_title),
  {prompt: "Choose one"}%>
  </div>

  <div class="field">
    <%= f.label :dessert_id %><br>
     <%= f.select :dessert_id, options_from_collection_for_select(Dish.all, :id, :dish_title),
  {prompt: "Choose one"}%>
  </div>

  <div class="field">
    <%= f.label :order_status %><br>
    <%= f.text_field :order_status %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
