<div class="container">

<h1>Listing Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dish1</th>
      <th>Dish2</th>
      <th>Dessert</th>
      <th>Order status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.dish1_title %></td>
      <td><%= order.dish2_title %></td>
      <td><%= order.dessert_title %></td>
      <td><%= order.order_status %></td>
       <% if current_user.admin? %>
      <td><%= link_to 'Show', order, class: "btn btn-default btn-sm"%></td>
      <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-default btn-sm" %></td>
      <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, class: "btn btn-default" %>
</div>
